
<div class="container">
  <div class="wrap">
      <div class="tabs">
      <div class="upload-file active" (click)="tabChange(1)" [ngClass]="{ 'active' : tab === 1 }"><span>上傳新文件</span></div>
      <div class="uploaded-files" (click)="tabChange(2)" [ngClass]="{ 'active' : tab === 2 }"><span>選擇已上傳文件</span></div>
    </div>
    <div class="content">
      <div id="dragFileContainer" class="tab tab1" *ngIf="tab === 1" (click)="UploadFile.click()" (onFileDropped)="uploadFile($event)" appUpload>
        <input #UploadFile type="file" accept="application/pdf" class="uploadFile" (change)="uploadFileByInput($event)">
        <div>
          <span>點擊此處</span><span class="px-15">或</span><span>直接拖曳檔案</span>
        </div>
        <div>
          <img src="assets/images/pdf-signature/carbon_document-pdf.png" alt="PDF-icon">
        </div>
        <div>
          <span>(限3MB以下PDF檔)</span>
        </div>
      </div>
      <div class="tab" [ngClass]="{'no-files' : !fileData.length }" *ngIf="tab === 2">
        <ng-container *ngIf="!fileData.length"><p>尚未上傳任何文件！</p></ng-container>
        <ng-container *ngIf="fileData.length">
          <div class="search-container">
            <!-- 有 data 的情況下 -->
            <input type="text" placeholder="搜尋文件名稱" class="search-input">
            <mat-icon class="icon c-dark-grey">search</mat-icon>
          </div>
          <div class="table">
            <table>
              <tr>
                <th width="40%">名稱</th>
                <th width="30%">上傳時間</th>
                <th width="30%">上次開啟</th>
              </tr>
              <tr
                *ngFor="let data of fileData; let idx = index"
                [ngClass]="{'active' : selectedFileIndex === idx}"
                (click)="selectFile(idx, data)"
              >
                <td>{{ data.fileName }}</td>
                <td>{{ data.createDate | date : 'yy/M/d h:mm: a' }}</td>

                <td *ngIf="data.lastOpened">{{ data.lastOpened | date : 'yy/M/d h:mm: a'}}</td>
                <td *ngIf="!data.lastOpened">--</td>
              </tr>
            </table>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

</div>


