<div class="pdf-signature">
  <div class="navbar-container">
    <nav class="navbar">
      <div>
        <a routerLink="/pdf-signature">
          <img class="logo" src="assets/images/pdf-signature/LOGO2.png" alt="Logo">
        </a>
      </div>
      <div class="link">
        <ul>
          <li *ngFor="let link of links">
            <a routerLink="{{ link.navigate }}" [ngClass]="{'disable': link.disable}">{{ link.name }}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="content">

    <img class="block-blue" src="assets/images/pdf-signature/banner-block-blue.png" alt="">
    <img class="block-brown2" src="assets/images/pdf-signature/banner-block-brown2.svg" alt="">
    <img class="shadow" src="assets/images/pdf-signature/shadow.png" alt="">
    <img class="person" src="assets/images/pdf-signature/banner-person.png" alt="">
    <img class="block-brown" src="assets/images/pdf-signature/banner-block-brown.svg" alt="">
    <div class="signature">

      <img class="signature-logo" src="assets/images/pdf-signature/LOGO1.png" alt="Logo">
      <p>線上簽署，方便快速。</p>
      <button routerLink="/pdf-signature/upload">簽署新文件</button>
    </div>

  </div>
</div>
