@import '../content/scss/variable';

.navbar-container {
  background-color: $sign-light-main;
}
.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  padding: 20px 0;
  @media #{$table} {
    width: 1000px;
  }
}

.logo {
  width: 100px;
}

.link ul{
  display: flex;
  li {
    padding: 0 10px;
  }
}

.disable {
  color: $sign-dark-grey;
  pointer-events: none;
  cursor: default;
}

li{
  list-style: none;
}

a {
  color: $sign-secondary;
  text-decoration: none;
}

.content {
  height: calc(100vh - 70px);
  background-color: $sign-mid-grey;
  position: relative;

  img {
    position: absolute;
  }

  .person {
    height: 800px;

    @media #{$table} {
      height: 600px;
    }
  }

  .block-brown {
    width: 200px;
    top: 300px;
    left: 50px;

    @media #{$table} {
      width: 150px;
      top: 250px;
      left: 50px;
    }
  }

  .block-brown2 {
    width: 100px;
    top: 250px;
    right: 50px;

  }

  .block-blue {
    height: calc(100vh - 70px);
    width: 1600px;
    right: 0;

    @media #{$table} {
      width: 1200px;
    }
  }

  .shadow {
    width: 450px;
    bottom: 0;
    left: 483px;
    transform: rotate(-2deg);

    @media #{$table} {
      width: 314px;
      bottom: 0px;
      left: 400px;
      transform: rotate(-4deg);
    }
  }

  .signature {
    position: absolute;
    right: 400px;
    top: 180px;

    @media #{$table} {
      right: 200px;
      top: 180px;
    }

    img {
      width: 400px;
      position: relative;
    }

    p {
      color: $sign-secondary;
      font-size: $headline1;
      letter-spacing: 18px;
      padding-top: 20px;
    }

    button {
      margin-top: 70px;
      padding: 20px 0;
      letter-spacing: 18px;
      font-size: $headline1;
      background: $sign-light-main;
      border: none;
      width: 100%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
  }
}
