<nav class="navbar">
  <div>
    <img src="../../assets/images/Nav-Logo.png" alt="LOGO">
  </div>
  <div>
    <ul>
      <li *ngFor="let nav of navbar">{{ nav.name }}</li>
    </ul>
  </div>
</nav>

<div class="banner">
  <div class="banner-img-1">
    <img src="../../assets/images/Block1-Blue.png" alt="">
  </div>
  <div class="banner-img-2">
    <img src="../../assets/images/Block1-Yellow.png" alt="">
  </div>
  <div class="banner-img-3">
    <img src="../../assets/images/Block1-Red.png" alt="">
  </div>
  <div class="banner-img-4">
    <img src="../../assets/images/Block1-Green.png" alt="">
  </div>
  <div class="banner-img-5">
    <img src="../../assets/images/Block1-Logo.png" alt="">
  </div>
</div>

