<div class="pdf-signature-upload">
    <div class="navbar-container">
      <nav class="navbar">
        <div class="logo-container">
          <a routerLink="/pdf-signature">
            <img class="logo" src="assets/images/pdf-signature/LOGO2.png" alt="Logo">
          </a>
          <span>|</span>
          <span>簽署新文件</span>
        </div>
      </nav>
    </div>

  <div class="content">
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="pdf-preview">
      <canvas id="pdf-preview-canvas" width="80%" height="100%"></canvas>
    </div>
  </div>
  <div class="progress">
    <div class="process-container">
      <app-progress-bar [step]="'STEP2'"></app-progress-bar>
      <div class="btn-group">
        <button class="btn btn-secondary">取消</button>
        <button
          class="btn btn-primary"
          routerLink="#"
        >開啟文件</button>
      </div>
    </div>
  </div>
</div>
