/* You can add global styles to this file, and also import other style files */

@import '../src/app/content/scss/variable';
@import '../src/app/content/scss/button';
@import '../src/app/content/scss/color';
@import '../src/app/content/scss/typography';
@import '../src/app/content/scss/spacing';
@import '../src/app/content/scss/dialog';



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 4px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
