/* You can add global styles to this file, and also import other style files */

@import '../src/app/content/scss/variable';
@import '../src/app/content/scss/button';
@import '../src/app/content/scss/color';
@import '../src/app/content/scss/typography';
@import '../src/app/content/scss/spacing';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
