.btn {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px $sign-mid-grey;
  margin: auto;
  border: none;
  font-size: $headline2;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  color: $white;
  background-color: $sign-secondary;
}

.btn-primary:disabled {
  background-color: $sign-mid-grey;
  pointer-events: none;
}

.btn-primary:hover {
  transition: .3s;
  background-color: $sign-primary;
}

.btn-secondary {
  color: $sign-secondary;
  background-color: $white;
}

.btn-secondary:hover {
  color: $sign-primary;
  transition: .3s;
}
