// color
$white: #FFF;
$black: #000;
$grey: #CCC;

// signature color
$sign-primary: #F9B471;
$sign-secondary: #51A8BC;
$sign-tertiary: #BDE8F9;
$sign-light-grey: #F9F8F6;
$sign-mid-grey: #EEEDE8;
$sign-dark-grey: #A5A39C;
$sign-light-main: #FFFAF4;

// signature font-size
$headline1: 24px;
$headline2: 20px;
$headline3: 16px;
$headline4: 14px;
$headline5: 12px;



$phone: "(max-width:744px)";

$margin-normal: 0 40px
